body{
    background-image: url(image0.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
  
}

.keys {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 5em;
    min-height: 430px;
}
.key{
    display: block;
    border:2px rgb(255, 253, 109) solid;
    border-radius: 15%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: black;
    font-size: 16px;
    font-family: 'Handlee', cursive;
    width: 45px;
    display: block;
    height: 50px;
    transition: all 1s ease;

    
}
kbd{
    display: block;
    margin: 3px;
}
.playing {
    transform: scale(1.2);
    border-color: cyan;
    box-shadow:0 0 20px black;
    color: rgb(234, 255, 142);
}
.playing > .sound{
    color: cyan;
}
